:root {
    --text-x: #ff1919c7;
    --text-h: #8299ff;

    
    --text-ht: #264effcc;
    --text-0t: #74fddfcc;
    --text-pl: #00000040;

    --text-0: #1cb896d2;
    --text-1: #ffffff;
    --text-2: #000000;

    --point-0: #ffffff75;
    --point-1: #0fb99475;
    --point-2: #75ffe175;


    
    --main-x: #fc8181c7;
    --main-h: #7991ff;
    
    --main-0: #ffffff;
    --main-1: #38d6a7;
    --main-2: #00ffc8;

    --box-1: #00000086;
    --box-2: #ffffff86;
}