/* Reset some default browser styles */
* {
    transition: all 0.6s;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: var(--text-1);
}

.pt100{
    padding-top: 100px;
}

:root {
    --text-x: #ff1919c7;
    --text-h: #8299ff;

    
    --text-ht: #264effcc;
    --text-0t: #74fddfcc;

    --text-0: #26f1c5d2;
    --text-1: #ffffff;
    --text-2: #000000;

    --point-0: #ffffff75;
    --point-1: #0fb99475;
    --point-2: #75ffe175;


    
    --main-x: #fc8181c7;
    --main-h: #7991ff;
    
    --main-0: #ffffff;
    --main-1: #38d6a7;
    --main-2: #00ffc8;

    --box-1: #00000086;
}

::-webkit-scrollbar {
    width: 10px;  /* 세로축 스크롤바 폭 너비 */
    height: 20px;  /* 가로축 스크롤바 폭 너비 */
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    width: 10px;  /* 세로축 스크롤바 폭 너비 */
    height: 20px;  /* 가로축 스크롤바 폭 너비 */
    background: var(--main-2);
    border: 2px solid var(--main-0);
    border-radius: 10px;
}
::-webkit-scrollbar-track { 
    margin: 20px;
    border-radius: 20px;
    background: var(--point-2);
}



.mainwarp {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start; /* 위쪽 정렬 */
    width: 90%;
    margin: auto;
}

.mainwarp2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start; /* 위쪽 정렬 */
    min-width: 60%;
    max-width: 600px;
    margin: auto;
    
}

main {
    background: var(--main-0);
    color: var(--text-0);
    border-radius: 40px;
    flex: 1 1 80%; /* flex-grow: 1, flex-shrink: 1, flex-basis: 80% */
    min-width: 200px; /* 최소 너비 설정 */
    height: auto;
    opacity: 0.8;
    margin-bottom: 30px;
    margin: auto;
}

.sidecontent {
    background: var(--main-0);
    color: var(--text-0);
    border-radius: 40px;
    flex: 1 1 15%; /* flex-grow: 1, flex-shrink: 1, flex-basis: 20% */
    min-width: 200px; /* 최소 너비 설정 */
    min-height: 200px;
    opacity: 0.8;
    margin-bottom: 30px;
    align-self: flex-start; /* 위쪽 정렬 */
    margin-right:10px;
    padding:10px;
}


/* 화면 크기가 768px 이하일 때 레이아웃 변경 */
@media (max-width: 768px) {
    .sidecontent {
    	overflow: hidden;
        height: 500px;
    	content-wrapper{
    	
    	flex-wrap: nowrap;
    	flex-direction:row;
        overflow-x: auto; /* 가로 스크롤 활성화 */
        white-space: nowrap; /* 내부 요소들이 한 줄로 유지되도록 설정 */
        width: 100%;
        height: 500px;
    	}
    }

    .mainwarp {
        flex-direction: column; /* 세로로 배치 */
    }

    .sidecontent {
        order: -1; /* aside를 상단으로 이동 */
        margin-bottom: 10px;
        margin-right: 0;
    }

    main {
        width: 100%;
    }
}


.inputwrap input {
    background-color: transparent;
}
    
a:hover{
    color: var(--text-ht);
}

.logo {
    font-weight: 400;
    display: flex;
    font-size: 15px;
    border: 1px solid var(--main-0);
    text-align: center;
    /*15:4:1*/
    width: 130px;
    height: 30px;
    
    *{
        margin: 5px;
    }
    p{      
    font-size: 10px;
    width: 23px;
    border: 2px solid var(--main-0);
    border-radius: 5px;
    }
}

.logo:hover{
    font-weight:900;
    font-size: 30px;
    border: 2px solid var(--main-0);
    text-align: center;
    /*15:4:1*/
    width: 260px;
    height: 60px;
    
    color: var(--box-1);
    background-color: var(--point-2);
    *{
        margin: 10px;
    }
    p{      
    font-size: 20px;
    width: 43px;
    border: 4px solid var(--main-0);
    border-radius: 10px;
    color: var(--text-0);
    background-color: var(--box-1);
    }
    transition-duration: 0.2s;
}

.heading {
    background: var(--point-1);
    color: var(--text-1);
    width: auto;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 30px;

    display: flex;
        align-items: center;    
        justify-content: space-between;
        btn{
            height: 30px;
            width: 30px;
            font-size: 25px;
        }

}
.relend{
    position: relative;
    bottom: 20px;
    
}

.absend{
    position: absolute;
    bottom: 20px;
    
}
.btnflexwrap{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    flex-direction: row;
	*{
	margin:10px;
	
	}
}
.sectionUserpic {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* 패딩을 포함한 크기를 계산 */
}

.userpicwrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 300px; /* 컨테이너 크기를 고정 */
    border-radius: 100%; /* 동그란 컨테이너 */
    overflow: hidden; /* 컨테이너를 벗어난 이미지를 숨기기 위해 */
}

.userpic {
	
    border-radius: 1000px; /* 동그란 컨테이너 */
    margin: 0;
    object-fit:cover; /* 이미지가 컨테이너를 완전히 채우도록 */
    width: 200px;
    height: 200px;
    border: 3px solid var(--point-1);
}


.btn {
    display: flex; /* Flex 사용 */
    justify-content: center; /* 중앙 정렬 */
    align-items: center; /* 중앙 정렬 */
    background: var(--point-1);
    color: var(--text-1);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}


.notwkbtn{
    display: flex; /* Flex 사용 */
    justify-content: center; /* 중앙 정렬 */
    align-items: center; /* 중앙 정렬 */
    background: var(--main-1);
    color: var(--text-1);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.notwkbtn .rightmg{
	margin-left: 5px;
}

.xbg{
    background: var(--main-x);
    color: var(--text-1);
}

.trans{
    background: transparent;
    border:0px;
}


.widthauto{
	width:max-content;
    color: var(--text-h);
}

.pad20{
    padding: 20px;
}
.pad10{
    padding: 10px;
}

.s3030{
    width: 30px;
    height: 30px;
    font-size:20px;
}

.hbg{
    background: var(--main-h);
    color: var(--text-1);
}
.obg{
    background: var(--main-1);
    color: var(--text-1);
}

.nbg{
    background: var(-text-2);
    color: var(--text-1);
}

.box{
    border: 2px solid var(--main-0);
    border-radius: 10px;
    padding: 10px;
    background: var(--box-1);
    color: var(--text-1);
}


.submitform {
    display: flex; /* Flexbox 사용 */
    justify-content: space-between; /* 중앙 정렬 */
    align-items: center; /* 중앙 정렬 */
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: auto;
    height: 60px;
    font-size: 40px;
}

.submitbtn { 
    flex-grow: 1; /* 가변적으로 공간을 차지 */
    height: 60px;
    font-size: 40px;
    margin:2%;
}

.clearbtn { 
    width:60px;
    height: 60px;
    font-size: 30px;
}


.btn:hover {
    opacity: 0.5;
}

.inputwrap {
    display: flex;
    flex-direction: column;
	justify-content:center;
	align-content:center;
	align-items:center;
    margin-bottom: 10px;
    padding: 10px;
    border: 0px;
    height: auto;
    font-size: 20px;
}

.errmsg {
    color: var(--text-x);
}

.inputline {
    border: 3px solid var(--point-1);
    border-radius: 30px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 5px;
}

.inputline2{
    border-bottom: 3px solid var(--point-1);
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 5px;
}


.inputwrap input[type=text],
.inputwrap input[type=password] {
    padding-left: 10px;
    border: 0px;
    width: 100%;
    color: var(--text-0);
    border: 0;
    outline: none;
    
    height: 40px;
    font-size: 20px;
}

/*
input[type=radio]{
    background-color: #FFFF;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-left: 16px;
    border: 1px solid rgb(216, 216, 216);
    width: 14px;
    height: 14px;
    border-radius: 100%;
}
input[type=radio]:checked{
    background-color: rgb(25, 118, 248);
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-left: 16px;
    border: none;
    width: 14px;
    height: 14px;
    border-radius: 100%;
}
*/


.radioline {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center; /* 중앙 정렬 */
    align-content: center;
    padding: 5px;
}


.radioline {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center; /* 중앙 정렬 */
    align-content: center;
    padding: 5px;
}

input[type=radio] {
    display: none; /* Hide radio buttons */
}

.radiowrap label {
    display: flex; /* Flex 사용 */
    justify-content: center; /* 중앙 정렬 */
    align-items: center; /* 중앙 정렬 */
    color: var(--text-0);
    border: 1px solid var(--main-1);
    padding: 10px;
    cursor: pointer;
    border-radius: 50px;
    width: auto;
    height: 10px;
    margin-left: 10px;
    font-size: 12px;
    background-color: transparent; /* 기본 배경색 투명 */
    transition: background-color 0.3s;
}

.radioline {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center; /* 중앙 정렬 */
    align-content: center;
    padding: 5px;
}

input[type=radio] {
    display: none; /* Hide radio buttons */
}

.radiowrap label {
    display: flex; /* Flex 사용 */
    justify-content: center; /* 중앙 정렬 */
    align-items: center; /* 중앙 정렬 */
    color: var(--text-0);
    border: 1px solid var(--main-1);
    padding: 10px;
    cursor: pointer;
    border-radius: 50px;
    width: auto;
    height: 10px;
    margin-left: 10px;
    font-size: 12px;
    background-color: transparent; /* 기본 배경색 투명 */
    transition: background-color 0.3s;
}

input[type="radio"]:checked + label {
    color: var(--text-1);
    height: 30px;
    min-width: 30px;

    p {
        font-size: 0;
    }

    i {
        font-size: 20px;
        color: var(--text-1);
    }

    .wrap {
        display: flex;
        width: 150px; /* 원하는 최종 너비 */
        opacity: 1;
        overflow: hidden;
        transition: width 0.3s ease-out, opacity 0.3s ease-out;
    }
}

input[type="radio"]:not(:checked) + label .wrap {
    display: none;
    width: 0;
    opacity: 0;
}

input[type="radio"]:checked + label .wrap input {
    height: 90%;
    margin-left: 10px;
    width: 100%;
    border-radius: 20px;
    background: var(--main-2);
    color: var(--text-1);
}

input[type="radio"]:not(:checked) + label .wrap input {
    display: none;
}

input[type="radio"]:not(:checked) + label i {
    font-size: 0;
}

input[type="radio"]:not(:checked) + label[for="Blank"] {
    background-color: transparent;
}

input[type="radio"]:checked + label[for="Blank"] {
    background-color: lightgray;
}

input[type="radio"]:not(:checked) + label[for="Male"] {
    background-color: transparent;
}

input[type="radio"]:checked + label[for="Male"] {
    background-color: lightblue;
}

input[type="radio"]:not(:checked) + label[for="Female"] {
    background-color: transparent;
}

input[type="radio"]:checked + label[for="Female"] {
    background-color: pink;
}

input[type="radio"]:not(:checked) + label[for="Other"] {
    background-color: transparent;
}

input[type="radio"]:checked + label[for="Other"] {
    background-color: lightgreen;
}



.inputwrap input::placeholder{
    color: var(--text-ht);
    
}

.inputwrap:hover input {
    font-size: 30px;
}


.listoverflow80{
	height:700px;
    overflow-y: scroll;
	
}

.closebt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: var(--text-x);
    border: 1px solid var(--text-1);
    color: var(--text-1);
    position: absolute;
    top: 10px;
    right: 5px;
}

.closebt :hover {
    font-size: 40px;
}


.usertag {
    margin: 5px;
    background: var(--point-1);
    color: var(--text-1);
    display: flex;
    align-items: center;
}

.user {
    font-weight: bolder;
    padding: 1vh;
    font-size: xx-large; /* 이름 글씨 크기 */
    margin-right: 10px; /* 이름과 역할 사이의 간격 */
}

.role {
    font-weight: bolder;
    padding: 1vh;
    background: var(--point-1);
    font-size: small; /* 역할 글씨 크기 */
    writing-mode: vertical-rl; /* 세로 글씨 배치 */
    transform: rotate(180deg); /* 상하 좌우 반전 */
}

.flowscroll {
    overflow-y: auto; /* 세로 스크롤바 추가 */
    overflow-x: hidden; /* 가로 스크롤바 숨김 */
}

.shadow {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5); /* 진한 그림자 */
}

.round {
    border-radius: 500px;
}


.semiround {
    border-radius: 20px;
}

.scrollBtn {
    width: 30px;
    height: 30px;
    margin: 5px;
}

.fixedWrap {
    position: fixed;
    width: 100%;
    z-index: 500;
    top: 0;
    left: 0;
}

.top-msg {
    z-index: 2000;
    background: var(--box-1);
    color: var(--text-0t);
    text-align: center;
    overflow: hidden;
    transition: height 1s ease-in-out, padding 1s ease-in-out;
    height: 0;
    padding: 0 10px;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: var(--text-0);
    p{
    color: var(--text-0);
    }
}
.btn{
	a{
	color: var(--text-1);
	}
}
.top-msg.show {
    z-index: 2000;
    height: 30px;
    padding: 10px 10px;
}

.top-msg p {
    margin: 0;
}

.pageSelectWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: var(--point-2);
    color: var(--text-1);
    position: relative;
    .btn{
        height: 50px;
        width: 70px;
        border-radius: 20px;
        border: 2px solid var(--main-0);
        background-color: transparent;
    }
    li{
    	margin: 3px;
    }
}

.left-menu {
    display: flex;
    align-items: center;
}

.page-select {
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    height: auto;
    width: -100vh;
    position: fixed;
    top: calc(10vh);
    left: -100vh;
    background: var(--main-0);
    color: var(--text-0);
    padding-left: 40px;
    z-index: 501;
    border-radius: 20px;
}

.page-select h2 {
    background: var(--main-1);
    color: var(--text-1);
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    margin-left: 0px;
}

.page-select.open {
    width: auto;
    left: -20px;
}

.page-select ul {
    list-style: none;
    padding: 0;
}

.page-select:hover {
    margin: 5px;
    padding: 30px;
    padding-left: 50px;
}

.page-select li {
    margin: 5px 0;
}

.page-select a {
    color: var(--main-1);
    text-decoration: none;
}

.page-select li:hover {
    border-radius: 30px;
    padding: 10px;
    background: var(--main-1);
    font-size: 150%;
    a{
        color: var(--text-1);
    }
}


.login-wrap {
    position: fixed;
    top: -100%; /* Adjust this as necessary for your animation */
    left: 50%;
    transform: translateX(-50%);
    width: 90%; /* Use a percentage width for better responsiveness */
    max-width: 500px; /* Set a maximum width in pixels */
    max-height: 80%; /* Set maximum height relative to viewport height */
    
    background: var(--main-0);
    color: var(--text-0);
    padding: 20px;
    z-index: 501;
    border-radius: 20px;
    margin: auto;
    
    overflow-y: auto; 
    
}

.login-wrap.open {
    top: 10%;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form h2 {
    margin-bottom: 20px;
}

.login-form label {
    margin-bottom: 5px;
}
/*
.login-form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid var(--point-2);
    border-radius: 4px;
}
*/
.login-form a {
    color: var(--text-h);
    text-decoration: none;
}

.scrollBtnWrap {
    position: fixed;
    bottom: 10px;
    right: 10px;
}


.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.content-box {
    flex: 1 1 400px;
    background: var(--box-1);
    color: var(--text-1);
    margin: 1%;
    padding: 20px;
    
    border: 1px solid var(--point-2);
    overflow-y: auto;
    max-height: 400px; /*  */
    border-radius: 20px;
    img{
        border-radius: 30px;
        width: 95%;
        height: 70%;
        object-fit: cover; /* 이미지가 컨테이너를 완전히 채우도록 */        
    }
}

.content-box.large {
    flex: 2 1 1000px;;
}

.content-box h2 {
    margin-top: 0;
}

footer {
    margin-top: 50px;
    background: var(--box-1);
    color: var(--text-0);
    padding: 6svb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    border-top: 3px solid var(--main-2);
}

.hide{display:none;}


